.detailedProjectsContainer {
  height: 800px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectsTitle {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 3px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 56px;
  font-weight: 600;
}

.projectLogo {
  margin-top: 40px;
  height: 200px;
  width: 200px;
}

.projectHeadline {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 20px;
  color: rgb(182, 29, 34);
  letter-spacing: 0.5x;
  font-size: 20px;
  font-weight: 600;
  min-height: 70px;
}

.projectText {
  font-family: "Alkatra", cursive;
  color: rgb(59, 60, 56);
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
}

.projectItem {
  width: 300px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.projectsContainerNew {
  display: flex;
  flex-direction: row;
  column-gap: 80px;
}

.projectsButton {
  margin-top: 90px;
  width: 210x;
  height: 42px;
  letter-spacing: 2px;
  font-weight: bold;
}

.projectsButtonText {
  font-family: "Alkatra", cursive;
}

#detailedLink {
  text-decoration: none;
  color: black;
}
